body {
  font-family: 'Ubuntu',  sans-serif;

  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  
}

.nav {
  padding-top: 65px;
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  margin-left: 121px;
  gap: 40px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #4B5D68;
  transition: all .3s;

}

.nav__link:hover  {
  color: #9C69E2;
  
}

.header__content {
  padding-top: 143px;
  position: relative;
}

.header__content-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 1.1;
  color: #212353;
  max-width: 645px;
  margin: 0;
}

.header__content-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #4B5D68;
  max-width: 380px;
  margin-top: 50px;
}

.header__content-btn {
  display: inline-block;
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  padding: 16px 37px;
  background-color: #9C69E2;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  transition: all .3s;
}
.header__content-btn:hover {
  background-color: #7850af;
}


.header__content-img {
  position: absolute;
  max-width: 885px;
  right: -100px;
  bottom: -100px;
}

.more {
  margin-top: 199px;
  display: flex;
  align-items: center;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.more__content {
  margin-left: 65px;
  max-width: 475px;
}

.more__content-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3;
  align-items: center;

  color: #212353;
}

.more__content-description {
  margin-top: 40px;
  font-family: Avenir;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #4B5D68;
}

.features {
  margin-top: 150px;
}

.features__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #212353;
}

.features__subtitle {
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;

  color: #4B5D68;
  max-width: 584px;
}

.features__wrapper {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.features__item {
  padding-right: 50px;
  max-width: 500px;
  min-height: 358px;
  background-image: url(../img/item1.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.features__item:nth-child(2) {
  background-image: url(../img/item2.png);
}

.features__item:nth-child(3) {
  background-image: url(../img/item3.png);
}

.features__item:nth-child(4) {
  background-image: url(../img/item4.png);
}

.features__item-block {
  margin-left: 30px;
}

.features__item-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3;
  color: #212353;
}

.features__item-descr {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #4B5D68;
}

.features__item-link {
  position: relative;
  display: block;
  margin-top: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #212353;
  transition: all .3s;
}

.features__item-link span {
  position: absolute;
  top: 3px;
  left: 115px;
}

.features__item-link:hover {
  color: #9C69E2;
}

.features__item-img {
  max-width: 232px;
  height: 211px;
}

.reviews {
  margin-top: 150px;
  padding: 109px 0 60px 93px;
  background-color: #9C69E2;
  border-radius: 50px;
}

.reviews__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3;
  color: #FFFFFF;
}

.reviews__wrapper {
  margin-top: 88px;

}

.reviews__item {
  display: flex;
  align-items: flex-start;
  max-width: 645px;
  padding: 60px 70px 50px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
}

.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}

.reviews__item-block {
  margin-left: 30px;
  margin-top: 20px;
}

.reviews__item-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #212353;
}

.reviews__item-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #9C69E2;

}

.reviews__item-descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
  color: #4B5D68;
  margin-top: 19px;
  max-width: 385px;
}

hr {
  margin-top: 150px;
  height: 2px;
  background: #9C69E2;
  opacity: 0.2;
}

.footer {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  
}

.footer__links-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__links-logo_descr {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.6;
  color: #212353;

}


.footer__links-adress {
  margin-top: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__links-adress span {
  display: block;
  margin-bottom: 20px;
}

.footer__links-contact {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
  transition: all .3s;
}

.footer__links-contact:hover {
  color: #9C69E2;
}

.footer__links-police {
  margin-top: 36px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
  max-width: 300px;
}

.footer__social-title {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.6;
  color: #212353;
}

.footer__social-block {
  display: flex;
  gap: 14px;
}

.footer__social-link {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: #212353;
  color: white;
  opacity: 0.1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s;
}

.footer__social-link:hover {
  opacity: .9;
}

@media (max-width: 1120px) {
  .header__content {
    padding-top: 50px;
  }
  
  .header__content-title {
    font-size: 50px;
  }

  .header__content-img {
    max-width: 50%;
    right: 100px;
    bottom: 0;

  }

  .more {
    margin-top: 80px;
  }

  .more__img {
    max-width: 35%;
  }

  .features {
    margin-top: 80px;
  }
  .features__subtitle {
    margin-top: 35px;
  }

  .features__wrapper {
    justify-content: center;
    margin-top: 60px;
  }

  .reviews {
    margin-top: 80px;
    padding: 50px 25px;
  }


}

@media (max-width: 850px) {
    .nav {
      padding-top: 25px;
    }

    .header__content {
      padding-top: 30px;
    }

    .header__content-description {
      margin-top: 25px;
    }

    .header__content-img {
      right: 50px;
    }
    .more {
      padding-top: 20px;
    }

    .more__content {
      margin-left: 30px;
    }
    .more__content-title {
      font-size: 34px;
    }
    .more__content-description {
      margin-top: 25px;
    }

    .features {
    margin-top: 45px;
    }

    .features__title {
      font-size: 35px;
    }

    .features__subtitle {
      margin-top: 20px;
    }

    .reviews__wrapper {
      margin-top: 50px;
    }

    .reviews__item {
      padding: 20px;
    }

    hr {
      margin-top: 45px;
    }

    .footer {
      margin-top: 45px;      
    }

}

@media (max-width: 550px) {
  .features__item {
    padding-right: 15px;
  }

  .features__item-img {
    max-width: 40%;
    height: auto;
  }

  .features__item-block {
    margin-left: 10px;
  }

  .reviews__item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
  }
  .reviews__title {
    font-size: 35px;
  }

  .reviews__item-descr {
    font-size: 14px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer__links-adress {
    margin-top: 25px;
  }

  .footer__links-police {
    margin-top: 15px;
  }

  .footer__social {
    margin-top: 35px;
  }
}

@media (max-width: 465px) {

  .nav__item{
    margin-left: 35px;
    gap: 30px;
  }
  .header__content-img {
    display: none;
  }

  .header__content-title {
    font-size: 42px;
  }
  .header__content-description {
    font-size: 16px;
  }

  .header__content-btn {
    margin-top: 30px;
    font-size: 14px;
    padding: 14px 30px;
  }

  .more {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center
  }
  .more__img {
    max-width: 60%;
  }
  .more__content-title {
    font-size: 30px;
  }

  .features__wrapper {
    margin-top: 30px;
  }
  .features__item {
    min-height: 280px;
  }

  .features__item-title {
    font-size: 20px;
  }

  .features__item-descr {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .features__item-link {
    margin-top: 15px;
    font-size: 14px;
  }

  .features__item-link span {
    left: 90px;
  }
}


